    /* PAGES COLORS */
$accent-hero-color: #3E3EF1;
$white-hero-color: #FFFFFF;
$grey-hero-color: #F2F2F2;
    /* TYPOGRAPHY COLORS */
$primary-typography-color: #0F0F49;
$secondary-typography-color: #B5B5B5;
$white-typography-color: #FFFFFF;
$error-typography-color: #F13E3E;

    /* FONTS */
$font-stack: 'Nunito', sans-serif;