// Local vars
$img-height: 750px;

// Anime page
.anime__main__picture {
    height: $img-height - 60px;

    img {
        z-index: -2;
        width: 100%;
        height: $img-height;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0px;
    }
}

.anime__title {
    display: flex;
    height: 140px;
    align-items: center;
}

.anime__quality {

    &--picture {
        z-index: -2;
        width: 100%;
        height: $img-height;
        object-fit: cover;
        position: absolute;
    }

    &--options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: $img-height;
        max-height: $img-height;
        width: 170px;
        gap: 60px;
        flex-shrink: 0;

        button {
            @include text-h3;
            border: none;
            background: none;
            color: $primary-typography-color;
        
            &:hover, &:focus {
                color: $accent-hero-color;
            }
        }
    }

    &--gradient {
        position: absolute;
        z-index: -1;
        left: 0px;
        width: 50%;
        height: $img-height;
        object-fit: cover;
        background-color: white;
        background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.90) 0%,
            rgba(255, 255, 255, 0.60) 60%,
            rgba(255, 255, 255, 0.30) 80%,
            rgba(255, 255, 255, 0.00) 100%,
            rgba(255, 255, 255, 0.00) 100%,
            
        );
    }

    &--size {
        display: flex;
        justify-content: center;
        position: relative;
        top: -70px;
        height: 70px;
        align-items: center;
        color: $white-typography-color;
        // Instead of Webkit stroke using text-shadow
        // Because webkit not suppot outline stroke-
        text-shadow:
        -1px -1px 0 $primary-typography-color,  
         1px -1px 0 $primary-typography-color,
        -1px  1px 0 $primary-typography-color,
         1px  1px 0 $primary-typography-color;
    }
}

.anime__dubbing {
    // height: 600px;

    &--title {
        display: flex;
        justify-content: center;
        height: 110px;
        align-items: center;
    }

    &--buttons {
        margin: 30px 0px;

        ul {
            display: flex;
            justify-content: center;
            margin: 20px 0px;
            gap: 30px
        }

        button {
            @include button-height-size(50);
            &:focus {
                @extend .button__medium--active;
            }
        }
    }

    &--player {
        display: flex;
        justify-content: center;

        audio {
            width: 970px;
        }
    }
}


.anime__seasons {
    margin: 120px;

    li {
        display: flex;
        width: 100%;
        height: 80px;
        margin: 30px 0px;
        border-radius: 50px;
        flex-shrink: 0;
        align-items: center;
        background-color: $white-hero-color;
        /* Light Shadow */
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.12);

        &:hover {
            background-color: $grey-hero-color;
        }
    }

    label {
        @include text-h4;
    }
}

.anime__download {
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin: 0px 100px 100px 100px; // top 0, left right 100px, bottom 100px
    gap: 100px;
    align-items: center;

    &__size {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;   
        height: 100px;
        width: 400px;
        align-items: center;
    }
    &__button {
        @include text-h2;
        display: inline-block;
        width: 470px;
        height: 90px;
        border: none;
        border-radius: 20px;
        text-align: center;
        text-decoration: none;

    
        &:active, &--active, &--default {
            @extend .anime__download__button;
            background-color: $accent-hero-color;
            color: $white-typography-color;
        }
    
        &:disabled, &--disabled {
            @extend .anime__download__button;
            background-color: $grey-hero-color;
            color: $secondary-typography-color;
        }
    }
}