
.email_confirmed {
    @extend .box__page;

    &--box {
        @extend .box;
        padding: 55px 100px;
        }

    &--title {
        @include text-h3;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 380px;
    }

    &--link {
        @include text-h5;
        a {
            @include link($accent-hero-color, $accent-hero-color);
        }
    }
}