
.forgot_password {
    @extend .box__page;

    &--box {
        @extend .box;
    }

    &--title {
        @include text-h3;
    }

    &--button {
        button {
            $width: 210px;
            width: $width;

            &:active, &:disabled {
                width: $width;
            } 
        }
    }
}