
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 140px 0px;
}

.profile__nickname {
    display: flex;
    justify-content: center;
    padding: 50px 0px;

    ul {
        overflow: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        height: 100px;
    }

    &--nickname {
        span {
            @include text-h2;
            border: none;
            outline: none;
            text-align: right;
    
            &:focus, &--focus {
                @extend .profile__nickname--nickname;
                color: $accent-hero-color;
            }
    
            &:invalid, &--invalid {
                @extend .profile__nickname--nickname;
                color: $error-typography-color;
            }
        }
    }

    &--error_message {
        @include text-h6;
        display: none;
        text-align: right;
        color: $error-typography-color;
    }

    &--button {
        border: none;
        background: none;
    }

    // &--nickname:has(span:invalid) ~ &--error_message {
    //     display: block;
    // }
}

.profile__settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 570px;
    padding: 36px 0px;
    gap: 36px;              // Same as padding
    border-radius: 30px;
    flex-shrink: 0;
    background: $white-hero-color;
    /* Light Shadow */
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.12);

    &--download {
        padding: 30px;
        color: $accent-hero-color;
    }

    &--buttons {
        width: inherit;


        ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 30px;
        gap: 45px;
        }

        button {
            $height: 120px;
            /* Light Shadow */
            box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.12);
            
            &, &:focus, &:disabled {
                height: $height;
            }
        }
    }
}