
.register {
    @extend .box__page;

    &__box {
        @extend .box;
    }

    &__title {
        @include text-h3;
    }

    &__fields {
        margin-bottom: 30px;
    }    

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        button {
            $width: 210px;
            width: $width;

            &:active, &:disabled {
                width: $width;
            } 
        }
    }
}