
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 838px;

    &--bar {
        width: 100%;
        max-width: 930px;
        max-height: 40px;
        border-radius: 50px;
        padding: 20px;
        box-shadow: 0px 4px 30px 0px #0000001F; 
    }

    &__group {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        max-height: 50px;
        // margin: 20px;

        input, &--input {
            @include text-h5;
            width: 100%;
            border: none;
            outline: none;
        
            &:placeholder-shown {
                text-align: left;
            }
        }
    }

    ::placeholder {
        color: $primary-typography-color;
        text-align: center;
        margin-right: 80px;
    }

    &__button {
        position: relative;
        left: -5px;
        border: none;
        background: none;
    }

    &__result {
        @include text-h5;
        display: none;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 20px;

        li {
            margin-top: 10px;
            // top: 20px;
            // width: 80%;
            // max-width: 770px;
            // max-height: 40px;
            border-radius: 50px;
            padding: 20px;
            border: 2px solid $accent-hero-color;  
            
            &:hover {
                background-color: $accent-hero-color;
                color: $white-typography-color;
            }
        }

        span {
            background-color: $accent-hero-color;
            color: $white-typography-color;
        }
        
    }

    &--bar:has(&__group input:focus) {
        border: 2px solid $accent-hero-color;

    }

    &__group:has(input:focus) ~ &__result{
        display: flex;
    }

}









