.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
    }

    a {
        text-decoration: none;

        &:link, &:visited {
            color: $primary-typography-color;
        }

        &:hover, &:active, &:focus {
           color: $accent-hero-color; 
        }
    }
}