.button {
  &__small {
    @include text-h5;
    display: inline-block;
    height: 50px;
    width: 170px;
    border: none;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    background-color: $grey-hero-color;
    color: $primary-typography-color;

    &:active, &--active {
      @extend .button__small;
      @extend .button__state--active;
    }

    &:disabled, &--disabled {
      @extend .button__small;
      @extend .button__state--disabled;
    }
  }

  &__medium {
    @include text-h4;
    display: inline-block;
    width: 470px;
    height: 75px;
    padding: 10px 0px;
    border: none;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    background-color: $grey-hero-color;
    color: $primary-typography-color;


    &:active, &--active {
        @extend .button__medium;
        @extend .button__state--active;
    }

    &:disabled, &--disabled {
      @extend .button__medium;
      @extend .button__state--disabled;
    }
  }
  &__large {
    @include text-h4;
    display: inline-block;
    width: 504px;
    height: 144px;
    border: none;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    background-color: $grey-hero-color;
    color: $primary-typography-color;

    &:active, &--active {
      @extend .button__large;
      @extend .button__state--active;
    }

    &:disabled, &--disabled {
      @extend .button__large;
      @extend .button__state--disabled;
    }
  }

  &__google {
    @include text-h5;
    display: inline-block;
    height: 65px;
    width: 460px;
    border: 2px solid;
    border-radius: 50px;
    outline: none;
    background: none;
    background-image: url(/src/img/google_g_logo.svg);
    background-repeat: no-repeat;
    background-position: 30px;
    border-color: $grey-hero-color;

    &:hover {
      border-color: $accent-hero-color;
    }

    &:active {
      @extend .button__state--active;
      border-color: $accent-hero-color;
    }

    &:disabled {
      @extend .button__state--disabled;
      border-color: $grey-hero-color;
    }
  }

  &__state {
    &--hover {

    }
    &--active {
      color: $white-typography-color;
      background-color: $accent-hero-color;
    }
    &--disabled {
      color: $secondary-typography-color;
      background-color: $grey-hero-color;
    }
  }
}

